//-------------------------------------------------------------------------------
// General
//-------------------------------------------------------------------------------
* {
	padding:0;
	margin:0;
}

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	font-family:'Montserrat',sans-serif;
	font-size:16px;
	font-weight:400;
	color: $dark-text;
	margin:0 auto;
	overflow-x:hidden;
}

a,a:active,a:focus {
	text-decoration:none;
	color:$dark-pink;
}
a:hover {
  text-decoration: underline;
}

h1,h2 {
  color: $darker-blue;
  font-weight:700;
  //margin-top: 1.8em;
}

h3,h4,h5,h6 {
  color: $darker-blue;
  font-weight:600;
  margin-top: 1.8em;
}

p {
	line-height:1.8;
}

img, svg {
	border:none;
	max-width:100%;
	height:auto;
}

ul {
	padding:0;
	margin:0 auto;
	list-style:none;
}

ul li {
	list-style:none;
}

select,input,textarea,button {
	box-shadow:none;
	outline:0!important;
}

button {
	background:transparent;
	border:0;
}

html,body {
	background:#FFF;
	height:100%;
	position:relative;
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition:opacity .3s .3s ease;
	-moz-transition:opacity .3s .3s ease;
	-ms-transition:opacity .3s .3s ease;
	-o-transition:opacity .3s .3s ease;
	transition:opacity .3s .3s ease;
	opacity:0;
}

.fix {
	position:relative;
	clear:both;
}

//-------------------------------------------------------------------------------
// Header
//-------------------------------------------------------------------------------
.header {
	position:relative;
	z-index:9999;
}

.svg-logo {
	position:relative;
  width: 125px;
  height: 100px;
  margin: 0;
  z-index: 99999;
    
    path, polygon, rect {
      fill: $dark-pink;
    }
}
nav.navbar.no-background {
	background: none;
	border: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  @media (min-width: 1024px) {
      background-color: transparent;
      border: none;
  }
}

nav.navbar.navbar-fixed {
    position: fixed;
    display: block;
    width: 100%;
}

nav.navbar {
	background: none;
	border: none;
  margin-bottom: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: #fff;
  border: none;
  border-bottom: solid 1px #e0e0e0;
  z-index: 9;
}

.navbar-brand {
  float: left;
  height: 100px;
  padding: 0px;
	display:inline-block;
}

nav.navbar ul.nav > li > a {
	color: $light-text;
	font-size:18px;
	font-weight:400;
	text-transform:lowercase;
	-webkit-transition:.3s linear;
	-moz-transition:.3s linear;
	-ms-transition:.3s linear;
	-o-transition:.3s linear;
	transition:.3s linear;
	padding: 12px 20px 11px 20px;
	margin: 27px 0px 27px 27px;
	border: 1px solid transparent;
	background-color: transparent;
}

nav.navbar ul.nav > li.active > a {
  color: $light-text;
	border: 1px solid $dark-pink;
	background-color: transparent;
	&:focus {
    color: $light-text;
  	border: 1px solid $dark-pink;
  	background-color: transparent;
	}
	@media screen and (max-width:992px) {
    color: $dark-pink;
  	border: 1px solid transparent;
	}
}

nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav > li.active > a:hover {
	color: $dark-pink;
	background-color: transparent;
}

.sticky-wrapper.is-sticky nav.navbar ul.nav > li > a {
	color: $dark-text;
	@media screen and (max-width:992px) {
  	color: $light-text;
	}
}

.sticky-wrapper.is-sticky nav.navbar ul.nav > li.active > a,
 {
  color: $dark-text;
	border: 1px solid $dark-pink;
	background-color: transparent;
	
	@media screen and (max-width:992px) {
    color: $dark-pink;
  	border: 1px solid transparent;
	}
}

//.sticky-wrapper.is-sticky nav.navbar ul.nav > li > a:focus,
//.sticky-wrapper.is-sticky nav.navbar ul.nav > li.active > a:focus,
.sticky-wrapper.is-sticky nav.navbar ul.nav > li > a:hover,
.sticky-wrapper.is-sticky nav.navbar ul.nav > li.active > a:hover {
	color: $dark-pink;
	background-color: transparent;
}

//-------------------------------------------------------------------------------
// Hamburglar
//-------------------------------------------------------------------------------
nav.navbar .navbar-toggle {
  position:relative;
  background-color:transparent;
  border: $dark-pink 1px solid;
  top: 0px;
  z-index: 999;
  float: right;
  margin: 30px 8px;
  padding: 10px 6px;
  border-radius: 0px;
}
nav.navbar .navbar-toggle:focus,
nav.navbar .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: $dark-pink;
}
.navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.navbar-toggle span:nth-child(2) {
  -webkit-transform: translateX(3px) rotate(45deg);
      -ms-transform: translateX(3px) rotate(45deg);
          transform: translateX(3px) rotate(45deg);
  -webkit-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}
.navbar-toggle span:nth-child(3) {
    opacity: 0;
}
.navbar-toggle span:nth-child(4) {
  -webkit-transform: translateX(3px) rotate(-45deg);
      -ms-transform: translateX(3px) rotate(-45deg);
          transform: translateX(3px) rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}
.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}
.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

//-------------------------------------------------------------------------------
// Random Breakpoint
//-------------------------------------------------------------------------------
@media screen and (max-width:1008px) {
  .navbar .container {
    padding: 0px;
    margin: 0px;
    // width: 100%;
  }
}

//-------------------------------------------------------------------------------
// Small Screens
//-------------------------------------------------------------------------------
@media screen and (max-width:769px) {
  .navbar-header {
    padding-left: 30px;
    padding-right: 30px;
    float:none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-collapse {
    background: $darker-blue;
  }
  .navbar-default .navbar-collapse {
    border: none;
    text-align: center;
    position: relative;
    top: -100px;
    padding-top: 100px;
    height: 100vh;
    margin-right: -20px;
  }
  .navbar-collapse.collapse {
    display: none!important;
    border: none;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }
	.navbar-toggle {
  	display: block; 
  }
	.navbar-brand {
  	float: left!important;
  }
	nav.navbar ul.nav > li > a {
  	color: $light-text;
  	padding: 15px 0px;
  	border: transparent;
  	margin: 0px;
  }
}

//-------------------------------------------------------------------------------
// Footer
//-------------------------------------------------------------------------------
#footer {
  min-height: inherit;
  background-color: $dark-pink;
  color: $light-text;
  padding: 83px 0px;
  position:relative;
  
  p {
    color: $light-text;
  }
  
  h1 {
    color: #FFF;
    background: url('../images/rock-horns.svg') center top no-repeat;
    padding-top: 170px;
  }
  
}
//-------------------------------------------------------------------------------
// Sections
//-------------------------------------------------------------------------------
.social {
  margin: 33px 0px;
	@media (max-width: 768px) {
  margin-top: 43px;
  text-align: center;
	}
	ul {
		margin: 0px;
		margin-top: auto; // sit at bottom of DIV
		li {
			display: inline-block;
      font-size: 31px;
      margin-right: 23px;
      @media (max-width: 374px) {
        font-size: 27px;
        padding-right: 17px;
      }
      &.last {
        margin-right: 0px;
      }
      a {
        color: $dark-pink;
      }
			a:hover {
				color: $light-text;
			}
		}			
	}
	&.reverse {
    text-align: center;
  	a {
    	color: #FFF;
  	}
  	a:hover {
    	color: $darker-blue;
  	}
	}
}

//-------------------------------------------------------------------------------
// Sections
//-------------------------------------------------------------------------------
.section {
  position: relative;
  min-height: 100vh;
  .container, .container-fluid {
    .row {
      padding-top: 33px;
      padding-bottom: 33px;
    }
  }
  .container-fluid {
    .row {
      div {
        padding-left: 0px;
        padding-right: 0px;
        @media (max-width: 768px) {
          padding-left: 15px;
          padding-right: 15px;
      	}
      }
    }
  }
}
.spacer {
  height: 100px;
  background-color: $darker-blue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin-left: -15px;
  margin-right: -15px;
  z-index: 88;
}

//-------------------------------------------------------------------------------
// Base Slideshow Styles
//-------------------------------------------------------------------------------
.slideshow {
  .slick-prev, .slick-next {
  	-webkit-transition: .2s;
  	   -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
    width: 50px;
    height: 50px;
    background-color: $darker-blue;
    z-index: 88;
    &:hover {
    background-color: $dark-pink;
    }
    &:before {
      font-family: 'FontAwesome';
      font-size: 30px;
      text-align: center;
      padding: 9px 0px;
      color: #FFF;
      opacity: 1;
    }
  }
  .slick-prev {
    left: 0px;
    padding-right: 3px;
    &:before {
      content: '\f053';
    }
  }
  .slick-next {
    right: 0px;
    padding-left: 3px;
    &:before {
      content: '\f054';
    }
  }
  .slick-prev.slick-disabled, .slick-next.slick-disabled {
    visibility: hidden;
    //  background-color: rgba(255, 255, 255, 0.5);
    //  cursor: default;
    //&:before {
    //  color: #FFF;
    //  opacity: .5;
    //}
  }
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    bottom: 5px;
    li {
        button {
            &:hover, &:focus {
                &:before {
                    opacity: 1; /* keep */
                }
            }
            &:before {
                font-size: 6px; /* keep */
                color: #FFF; /* keep */
                opacity: .5; /* keep */
            }
        }
        &.slick-active button:before {
            color: $dark-pink;
            opacity: 1;
        }
    }
}
//-------------------------------------------------------------------------------
// Scroll Top
//-------------------------------------------------------------------------------
#scroll-Top {
  .return-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    background: $darker-blue;
  	border-radius:50%;
  	-webkit-transition: .2s;
  	   -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
  	z-index: 2;
  	&:hover {
      background: $dark-pink;
    }
    i {
      position:relative;
      bottom: 2px;
    }
  }
}
//-------------------------------------------------------------------------------
// Back Arrow
//-------------------------------------------------------------------------------
#back-arrow {
  position: fixed;
  background-color: transparent;
  border: $dark-pink 1px solid;
  top: 0px;
  right: 0px;
  z-index: 88;
  margin: 30px;
	-webkit-transition: .2s;
	   -moz-transition: .2s;
      -ms-transition: .2s;
       -o-transition: .2s;
          transition: .2s;
  &:hover {
    background-color: $dark-pink;
    .icon-bar {
      background-color: #FFF;
    }
  }
  button {
    padding: 20px 12px;
  }
  .icon-bar {
    display: block;
    background-color: $dark-pink;
    width: 11px;
    height: 2px;
    border-radius: 1px;
    margin: 0px;
  }
  span {
    &.icon-bar {
      -webkit-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
    }
    &:nth-child(2) {
      -webkit-transform: translateY(-2px) rotate(-45deg);
          -ms-transform: translateY(-2px) rotate(-45deg);
              transform: translateY(-2px) rotate(-45deg);
    }
    &:nth-child(3) {
      width: 22px;
    }
    &:nth-child(4) {
      -webkit-transform: translateY(2px) rotate(45deg);
          -ms-transform: translateY(2px) rotate(45deg);
              transform: translateY(2px) rotate(45deg);
    }
  }
}
