//-------------------------------------------------------------------------------
// Big Accent Font
//-------------------------------------------------------------------------------
.accent-font {
	font-family:'Playfair Display',serif;
	font-weight:900;
	font-style:italic;
	font-size:144%;
}
