#main {
  background-color: $darker-blue;
	color: $light-text;	
	.throwing-horns {
  	background-image: url('../images/homepage-horns-bw-1660.jpg'); 
    -webkit-filter: url('#horns-duotone');
       -moz-filter: url('#horns-duotone');
         -o-filter: url('#horns-duotone');
        -ms-filter: url('#horns-duotone');
            filter: url('#horns-duotone');
    position: absolute;
  	background-position: right top;
  	background-size: auto 90%;
  	background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  	@media (max-width: 1200px) {
    	background-size: auto 70%;
  	}
  	@media (max-width: 768px) {
    	background-size: contain;
  	}
	}
	.ruckus {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 50%;
  	@media (max-width: 768px) {
      padding-top: 133px;
      padding-bottom: 33px;
  	}
  	.bio {
    	p {
      	color: $light-text;
      	font-size: 31px;
      	line-height: 39px;
      	margin-right: 40%;
    		margin-bottom: 0px;
    		
    		@media (max-width: 768px) {
        	font-size: 25px;
        	line-height: 31px;
      		margin-right: inherit;
      		text-align: center;
    		}
  		}
    	h1 {
      	color: $light-text;
      	font-weight: 900;
      	font-size: 97px;
    		line-height: 61px;
    		margin-top: 0px;
    
    		@media (max-width: 1199px) {
    			font-size: 79px;
    		}
    		@media (max-width: 768px) {
    			font-size: 67px;
          text-align: center;
    		}
    		@media (max-width: 374px) {
    			font-size: 53px;
    		}
  		}  
  	}
	}
	h1,h2,h3,h4,h5,h6 {
  	color: $light-text;
	}
}