#about {
  background-color: #FFF;
  color: $dark-text;
  .spacer {
    background-color: #FFF;
  }
	.speedy-brothers {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
    height: 100vh;
    margin-top: -33px;
    margin-bottom: -33px;
    @media (max-width: 768px) {
      position: relative;
      top: unset;
      height: auto;
      padding: 0px;
      margin: 0px 15px;
    }
	}
	.mobile-speedy-brothers {
  	display: none;
  	@media (max-width: 768px) {
    	display: block;
    	padding: 0px;
  	}
	}
}
