#work {
  background-color: $peach;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-flow: column;
    min-height: 100%;
  }
  #lawnmower {
  	background-image: url('../images/david-lawnmower.jpg'); 
//    -webkit-filter: url('#lawnmower-duotone');
//       -moz-filter: url('#lawnmower-duotone');
//         -o-filter: url('#lawnmower-duotone');
//        -ms-filter: url('#lawnmower-duotone');
//            filter: url('#lawnmower-duotone');
  	background-position: left bottom;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
    @media screen and (min-width: 768px) {
      flex: 1 1 auto;
    }
    @media screen and (max-width: 991px) {
      background-size: 150%;
      height: 250px;
    }
    @media screen and (max-width: 425px) {
      background-size: 200%;
    }
  }
  .spacer {
    background-color: $peach;
  }
//  .featured-work-wrapper {
//    position: -webkit-sticky; /* Safari */
//    position: sticky;
//    top: 133px;
//    @media screen and (max-width: 767px) {
//      position: relative;
//      top: unset;
//    }
//  }
  .slideshow {
    .slideshow-item {
      position: relative;
      .slideshow-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        line-height: 1.2;
      	-webkit-transition: .2s;
      	   -moz-transition: .2s;
            -ms-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
      }
      &:hover .slideshow-title {
        color: $dark-pink;
        line-height: 1.4;
        letter-spacing: 1.5px;
      }
      .big-pink-button {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: smaller;
      }
      &:hover .big-pink-button {
        color: #FFF;
        background: $dark-pink;
      }
    }
  }
}
