#work {
  background-color: $peach;
  //  color: $darker-blue;
  #lawnmower {
  	background-image: url('../images/david-lawnmower.jpg'); 
    -webkit-filter: url('#lawnmower-duotone');
       -moz-filter: url('#lawnmower-duotone');
         -o-filter: url('#lawnmower-duotone');
        -ms-filter: url('#lawnmower-duotone');
            filter: url('#lawnmower-duotone');
    position: absolute;
  	background-position: left bottom;
  	background-size: contain;
  	background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media (max-width: 768px) {
      background-size: 150%;
    }
    @media (max-width: 425px) {
      background-size: 200%;
    }
  }
  .spacer {
    background-color: $peach;
  }
  .row {
    padding-bottom: 133px;
    @media (max-width: 768px) {
        padding-bottom: 233px;
    }
  }
  .featured-work-wrapper {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 133px;
    @media (max-width: 768px) {
      position: relative;
      top: unset;
    }
  }
  .slideshow {
    .slideshow-item {
      position: relative;
      .slideshow-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        color: #FFF;
        text-align: center;
        font-size: 22px;
        line-height: 1.2;
      	-webkit-transition: .2s;
      	   -moz-transition: .2s;
            -ms-transition: .2s;
             -o-transition: .2s;
                transition: .2s;
      }
      &:hover .slideshow-title {
        color: $dark-pink;
        line-height: 1.4;
        letter-spacing: 1.5px;
      }
    }
  }
}
