#contact {
  min-height: inherit;
  background-color: $light-blue;
  //  color: $darker-blue;

	.social {
    margin: 33px 0px;
      	
		@media (max-width: 768px) {
      text-align: center;
		}

  	ul {
			margin: 0px;
  		margin-top: auto; // sit at bottom of DIV
  		
  		li {
  			display: inline-block;
        font-size: 31px;
        padding-right: 23px;
        
        @media (max-width: 374px) {
          font-size: 27px;
          padding-right: 17px;
        }
   			
  			a:hover {
  				color: $light-text;
  			}
			}			
  	}  	
	}
	
	.duotone-filters {
  	max-width: 100%;
  	height: auto;
	}
	
}