#case-study {
  .row {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .slideshow-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 100vh;
    @media (max-width: 768px) {
      display: none;
    }
    #slideshow {
      //margin: 25px;
      height: 100%;
      background-color: transparent;
      .slideshow-item {
        display: block;
        height: 100vh;
      	background-position: center;
      	background-repeat: no-repeat;
      	background-size: cover;
      }
    }
  }
  h1,h4 {
    text-transform: uppercase;
  }
  .slide-to {
    color: $light-gray;
    margin-left: -26px;
    float: left;
    &:hover {
      color: $darker-blue;
    }
    @media (max-width: 768px) {
      display: none;
    }
    i {
      vertical-align: inherit;
    }
  }
  .get-back-to-work {
    text-align: center;
    margin: 54px 0px;
  }
}
