		<!--footer-copyright -->
    <footer id="footer" class="section">
      <div class="container">
        <div class="footer-copyright text-center">
          <h1><span class="accent-font">rock.</span></h1>
          <p>&copy;2019 EvanChute.design</p>
        </div>
        <div class="social reverse">
[[$social-icons-list]]
        </div>
      </div>
[[$scroll-top]]    </footer>
		<!-- /footer-copyright -->
