<!DOCTYPE html>
<html class="no-js" lang="en">

  <head>
  
    <!-- meta data -->
    <meta charset="[[++modx_charset]]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
  	<!-- SEO -->
    <title>[[If? &subject=`[[*id]]` &operator=`eq` &operand=`1` &then=`` &else=`[[*longtitle:ifempty=`[[*pagetitle]]`:else=`[[*pagetitle]] [[*longtitle]]`]] - ` ]][[++site_name]]</title>
    <base href="[[!++site_url]]">
    <meta name="description" content="EvanChute.design is the online home of user experience designer Evan Chute.">
  	<meta name="robots" content="index, follow" />
  	<meta name="referrer" content="always" />
  
  	<!-- Social & Open Graph -->
  	<meta property="og:title" content="EvanChute.design" />
  	<meta property="og:description" content="EvanChute.design is the online home of user experience designer Evan Chute." />
  	<meta property="og:image" content="http://www.evanchute.design/assets/images/social.jpg"> <!-- include your hosted image full URL -->
  	<meta property="og:url" content="http://www.evanchute.design/" />
  	<meta property="og:type" content="portfolio" />
  	<meta name="twitter:title" content="EvanChute.design" >
  	<meta name="twitter:description" content="EvanChute.design is the online home of user experience designer Evan Chute." />
  	<meta name="twitter:image" content="http://www.evanchute.design/assets/images/social.jpg" /> <!-- include your hosted image full URL -->
  	<meta name="twitter:card" content="summary_large_image" />
  	<meta name="twitter:site" content="@fulltrucker" />
  	<meta name="twitter:creator" content="@fulltrucker" />
  
  	<!-- Favicon -->
  	<link rel="icon" type="image/png" href="/assets/bluenote/images/favicon.ico" sizes="32x32">
  
  	<!-- Styles -->
    <link rel='stylesheet' href='/assets/bluenote/css/reset.css' type='text/css' media='screen' />
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel='stylesheet' href='/assets/bluenote/css/font-awesome.min.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/assets/bluenote/css/animate.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/assets/bluenote/js/slick/slick.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/assets/bluenote/js/slick/slick-theme.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='/assets/bluenote/css/style.css' type='text/css' media='screen' />
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  
  <body>

		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
 