		<!-- Header -->
		<header class="header">
			<div id="sticky-header">
				<!-- Navigation -->
			    <nav class="navbar navbar-default navbar-fixed dark no-background" role="navigation">
			        <div class="container">
			            <div class="navbar-header">
			                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
			                </button>
			                <a class="navbar-brand smooth-menu" href="#main">
                        <svg class="svg-logo" viewBox="0 0 125 100">
                          <path d="M21.416,32.972c-0.779-0.375-2.084-0.64-3.895-0.797L0,97.889c1.802-0.146,3.22-0.378,4.204-0.706
                          	c1.184-0.395,2.121-1.149,2.811-2.269c0.691-1.117,1.364-2.925,2.022-5.425l13.021-48.923c0.525-2.235,0.789-3.813,0.789-4.734
                          	C22.846,34.386,22.368,33.432,21.416,32.972z"/>
                          <path d="M55.099,100h17.082c-1.771-0.646-3.367-1.518-4.763-2.644c-3.282-2.645-4.922-6.612-4.922-11.904
                          	c0-5.961,1.54-11.971,4.621-18.033c3.08-6.061,7.435-11.083,13.06-15.069c5.626-3.984,12.021-5.978,19.189-5.978
                          	c4.019,0,7.197,1.004,9.543,3.014c0.816,0.7,1.482,1.461,2.015,2.275L124.698,0H26.1l-8.037,30.144
                          	c7.544,0.175,18.505,0.264,32.894,0.264c9.469,0,16.274-0.099,20.417-0.296c-1.645,4.34-2.895,8.221-3.748,11.639
                          	c-0.395,1.447-0.822,3.486-1.281,6.115h-2.17c0.064-5.654-0.889-9.649-2.861-11.984c-1.973-2.333-4.998-3.501-9.074-3.501h-0.296
                          	c-2.303,0-4.028,0.182-5.179,0.542c-1.15,0.362-2.056,1.102-2.713,2.219c-0.657,1.119-1.315,2.926-1.973,5.425l-6.213,23.277h1.775
                          	c3.09,0,5.918-1.085,8.482-3.255s4.438-4.767,5.622-7.792h2.17c-1.053,3.223-1.94,6.347-2.663,9.37l-0.69,2.663
                          	c-0.461,1.775-0.888,3.551-1.282,5.326s-0.823,4.012-1.282,6.708h-2.17c0-2.827-0.757-5.376-2.269-7.645
                          	c-1.514-2.269-3.945-3.403-7.299-3.403h-0.889l-6.312,23.673c-0.592,2.5-0.887,4.11-0.887,4.833c0,1.381,0.476,2.285,1.43,2.712
                          	c0.953,0.429,2.646,0.642,5.08,0.642h1.281c4.734,0,8.729-1.298,11.984-3.896c3.256-2.597,6.461-7.117,9.617-13.562h2.17
                          	c-0.527,1.447-1.217,3.814-2.071,7.102C56.544,91.2,55.691,95.463,55.099,100z"/>
                          <path fill="none" d="M106.499,68.071c-1.809,1.273-3.752,1.909-5.827,1.909c-1.876,0-3.483-0.618-4.821-1.858
                          	c-1.341-1.238-2.01-2.964-2.01-5.174c0-3.147,1.005-5.943,3.014-8.388c2.01-2.444,4.421-4.103,7.233-4.974
                          	c-0.871-0.804-2.009-1.206-3.416-1.206c-3.282,0-6.413,1.792-9.394,5.375c-2.979,3.583-5.391,8.204-7.232,13.863
                          	c-1.843,5.66-2.764,11.402-2.764,17.229c0,3.483,0.704,6.062,2.11,7.735c1.407,1.675,3.382,2.512,5.927,2.512
                          	c2.145,0,4.186-0.603,6.129-1.809c1.941-1.205,3.919-3.28,5.928-6.229l0.1,0.04l5.087-19.079
                          	C106.54,68.036,106.521,68.056,106.499,68.071z"/>
                          <path fill="none" d="M88.827,100h9.209l2.066-7.75C96.833,95.986,93.077,98.572,88.827,100z"/>
                        </svg>
			                </a>
			            </div>
			            <div class="collapse navbar-collapse" id="navbar-menu">
			                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
			                    <li><a href="#main" class="smooth-menu">main</a></li>
			                    <li><a href="#about" class="smooth-menu">about</a></li>
			                    <li><a href="#work" class="smooth-menu">work</a></li>
			                    <li><a href="#contact" class="smooth-menu">contact</a></li>
			                </ul>
			            </div>
			        </div>
			    </nav>
			    <!-- /Navigation -->
			</div>
		    <div class="clearfix"></div>
		</header>
		<!-- /Header -->
