      			<ul>
      				<li>
      					<a class="icon-social" href="mailto:hello@evanchute.com" target="_blank">
                  			<i class="fa fa-envelope-o" aria-hidden="true"></i>
      					</a>
      				</li>
      				<li>
      					<a class="icon-social" href="https://www.linkedin.com/in/emchute/" target="_blank">
                  			<i class="fa fa-linkedin" aria-hidden="true"></i>
      					</a>
      				</li>
      				<li>
      					<a class="icon-social" href="https://dribbble.com/fulltrucker" target="_blank">
                  			<i class="fa fa-dribbble" aria-hidden="true"></i>
      					</a>
      				</li>
      				<li>
      					<a class="icon-social" href="https://www.github.com/fulltrucker" target="_blank">
                  			<i class="fa fa-github" aria-hidden="true"></i>
      					</a>
      				</li>
      				<li>
      					<a class="icon-social" href="https://www.instagram.com/full_trucker/" target="_blank">
                  			<i class="fa fa-instagram" aria-hidden="true"></i>
      					</a>
      				</li>
      				<li class="last">
      					<a class="icon-social" href="https://twitter.com/fulltrucker" target="_blank">
                  			<i class="fa fa-twitter" aria-hidden="true"></i>
      					</a>
      				</li>
      			</ul>
