#about {
  background-color: #FFF;
  color: $dark-text;
  
	.background-image {
  	background-image: url('../images/speeding-brothers.jpg'); 
  	background-position: center center;
  	background-size: cover;
  	background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
	}
  
}

