#about {
  background-color: #FFF;
  color: $dark-text;
  
	.speedy-brothers {
  	background-image: url('../images/speeding-brothers.jpg'); 
  	background-position: center center;
  	background-size: cover;
  	background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    @media (max-width: 768px) {
      display: none;
    }
	}
	
	.mobile-speedy-brothers {
  	img {
    	display: none;
    	@media (max-width: 768px) {
      	display: inherit;
    	}
  	}
	}
  
}

